 .profile-pic {
    width: 40px;
    display: block;
    margin: 0 auto;
  }

  .friend a {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  #map-canvas {
    margin-top: 20px;
  }